* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: rgb(20, 21, 24);
  text-decoration: none;
}

/* HEADER */
.header {
  font-family: "Roboto", sans-serif;
  height: 50px;
  font-size: 14px;
  margin: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100px;
  margin-left: 20px;
}

.about {
  padding-right: 12px;
}

.right-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gmail {
  margin-right: 20px;
}

.images {
  margin-right: 20px;
}

.google-apps {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.google-apps:hover {
  cursor: pointer;
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
}

.profile-picture {
  margin-right: 20px;
  height: 40px;
}

/* Start of Main */
main {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 200px);
}

.google {
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-logo {
  display: flex;
  height: 90px;
  align-items: center;
}

.buttons {
  display: flex;
  margin: 20px;
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  flex-direction: row;
  border: 1px solid lightgray;
  border-radius: 20px;
  height: 38px;
  width: 70%;
  margin-top: 30px;
}

.search-bar:hover {
  box-shadow: 0 0 8px rgb(0 0 0 / 16%);
}

.search {
  display: flex;
  border: none;
  width: 80%;
  outline: none;
}

.search-bar-icon {
  max-width: 100%;
  max-height: 100%;
  padding-right: 5px;
}

.magnifying-glass {
  padding-left: 10px;
}

.google-search,
.lucky-button {
  height: 30px;
  margin: 11px 4px;
  padding: 0 16px;
  border: none;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.google-search:hover,
.lucky-button:hover {
  cursor: pointer;
  border: 1px solid lightgrey;
}

.camera,
.microphone {
  cursor: pointer;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  height: 90px;
  background-color: rgb(242, 242, 242);
}

.carbon {
  padding: 15px;
}

.google-leaf {
  height: 15px;
}

.footer--link {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #70757a;
}

a:hover {
  text-decoration: underline;
}

.advertising .business .how-to .privacy .terms .settings:hover {
  text-decoration: underline #70757a;
}
