* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: rgb(20, 21, 24);
  text-decoration: none;
}

.header {
  font-family: "Roboto", sans-serif;
  height: 50px;
  font-size: 14px;
  margin: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100px;
  margin-left: 20px;
}

.about {
  padding-right: 12px;
}

.right-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gmail {
  margin-right: 20px;
}

.images {
  margin-right: 20px;
}

.google-apps {
  width: 20px;
  height: 30px;
  margin-right: 20px;
}

.profile-picture {
  margin-right: 20px;
  height: 40px;
}

.google {
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-logo {
  display: flex;
  height: 90px;
  align-items: center;
}

main {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 200px);
}

.buttons {
  display: flex;
  margin: 20px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  border: 2px solid lightgray;
  border-radius: 17px;
  height: 35px;
  width: 80%;
  margin-top: 30px;
}

.search {
  display: flex;
  border: none;
  width: 80%;
  outline: none;
}

.search-bar-icon {
  max-width: 100%;
  max-height: 100%;
  padding-right: 5px;
}

.magnifying-glass {
  padding-left: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.google-search,
.lucky-button {
  height: 30px;
  margin: 11px 4px;
  padding: 0 16px;
  border: none;
  border-radius: 5px;
  background-color: #f8f9fa;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  height: 90px;
  background-color: rgb(242, 242, 242);
}

.google-leaf {
  height: 15px;
}

.footer-link {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #70757a;
}
